<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Course Task</title>
    <link rel="stylesheet" href="/stylesheets/editTask.css">
    <!-- using the same fonts as Nathan -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=DM+Sans&display=swap" rel="stylesheet" /> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>

    <%- include("adminHeader") %>

    <div class="container-sm">
        <div class="row text-center">
            <h1>Edit Course Task</h1>
        </div>

        <form method="POST" action="/editCourseTask/update/<%=task.dataValues.ctaskID%>">
            <div class="row g-6">
                <div class="form-group col mb-3">
                    <label for="formAssignmentName" class="col-form-label-lg">Task Name</label>
                    <input required type="text" value="<%= task.dataValues.ctaskName %>" class="form-control" id="formAssignmentName" name="formAssignmentName">
                </div>
            </div>

            <div class="row g-6">
                <div class="form-group col mb-3">
                    <label for="formDueDate" class="col-form-label">Due Date</label>
                    <input required type="date" value="<%= task.dataValues.cdueDate %>" class="form-control" id="formDueDate" name="formDueDate">
                </div>
                <div class="form-group col mb-3">
                    <label for="formAssignmentType" class="col-form-label">Type</label>
                    <select required class="form-select" id="formAssignmentType" name="formAssignmentType" >
                        <option <% if(!task.dataValues.ctaskType) { %> selected <% } %> value="">Choose an option...</option>
                        <option <% if(task.dataValues.ctaskType === "Homework") { %> selected <% } %> value="Homework">Homework</option>
                        <option <% if(task.dataValues.ctaskType === "Reading") { %> selected <% } %> value="Reading">Reading</option>
                        <option <% if(task.dataValues.ctaskType === "Study") { %> selected <% } %>  value="Study">Study</option>
                        <option <% if(task.dataValues.ctaskType === "Quiz") { %> selected <% } %>  value="Quiz">Quiz</option>
                        <option <% if(task.dataValues.ctaskType === "Test") { %> selected <% } %>  value="Test">Test</option>
                        <option <% if(task.dataValues.ctaskType === "Lab") { %> selected <% } %>  value="Lab">Lab</option>
                        <option <% if(task.dataValues.ctaskType === "Project") { %> selected <% } %>  value="Project">Project</option>
                        <option <% if(task.dataValues.ctaskType === "Final") { %> selected <% } %> value="Final">Final</option>
                        <option <% if(task.dataValues.ctaskType === "Other") { %> selected <% } %> value="Other">Other</option>
                    </select>
                </div>
            </div>

            <div class="row g-6">
                <div class="form-group col mb-3">
                    <label for="formAssignmentClass" class="col-form-label">Class</label>
                    <select required class="form-select" id="formAssignmentClass" name="formAssignmentClass">
                        <option selected value="<%=task.dataValues.CourseCourseid%>"><%=task.dataValues.CourseCourseid%></option>
                        <% for(course of instructorCourses) { %>
                            <% if(course.courseid !== task.dataValues.CourseCourseid) { %>
                                <option value="<%= course.dataValues.courseid %>"><%= course.dataValues.courseid %></option>
                            <% } %>
                        <% } %>
                    </select>
                </div>
                <div class="form-group col mb-3">
                    <label for="formAssignmentPriority" class="col-form-label">Priority</label>
                    <select required class="form-select" id="formAssignmentPriority" name="formAssignmentPriority">
                        <option <% if(!task.dataValues.ctaskPriority) { %> selected <% } %> value="">Choose an option...</option>
                        <option <% if(task.dataValues.ctaskPriority === "Very High") { %> selected <% } %> value="Very High">Very High</option>
                        <option <% if(task.dataValues.ctaskPriority === "High") { %> selected <% } %>value="High">High</option>
                        <option <% if(task.dataValues.ctaskPriority === "Medium") { %> selected <% } %>value="Medium">Medium</option>
                        <option <% if(task.dataValues.ctaskPriority === "Low") { %> selected <% } %>value="Low">Low</option>
                    </select>
                </div>
            </div>

            <div class="row g-6">
                <div class="form-group col mb-3">
                    <label for="formAssignmentDescription" class="col-form-label">Description</label>
                    <textarea class="form-control" id="formAssignmentDescription" name="formAssignmentDescription" rows="4"><% if(task.dataValues.ctaskDescription !== "") { %><%= task.dataValues.ctaskDescription %> <% } %></textarea>
                </div>
            </div>

            <div class="row g-6">
                <div class="form-group col-3 mb-3 d-flex justify-content-start">
                    <button type="button" class="btn btn-danger gx-3" data-bs-toggle="modal" data-bs-target="#exampleModal" role="button">Delete</button>
                </div>
                <div class="form-group col-9 mb-3 d-flex justify-content-end">
                    <!-- <button type="button" class="btn btn-primary gx-3">Cancel</button> -->
                    <!-- button linking from https://stackoverflow.com/questions/2906582/how-do-i-create-an-html-button-that-acts-like-a-link -->
                    <a href="/adminHome" class="btn btn-primary gx-3">Return</a>
                    <button type="submit" class="btn btn-warning gx-3">Save Changes</button>            
                </div>
            </div>

            <%- include("taskAlerts") %>
        </form>
    </div>


    <!-- modal borrowed from the CMS project -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Assignment Deletion</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              This operation can not be reversed. Are you sure you want to proceed?
            </div>
            <div class="modal-footer">
              <!-- <form action=get from src code again method="get"> -->
            <form method="post" action="/editCourseTask/delete/<%=task.dataValues.ctaskID%>"><!--</form>-->
                  <input type="submit" class="btn btn-danger" value="Delete">
              </form>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <!-- <button type="button" class="btn btn-danger">Save changes</button> -->
            </div>
          </div>
        </div>
    </div>

</body>
</html>