<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Palanar Home Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=DM+Sans&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/home.css">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <%- include("header") %>
        </div>

        <%- include("coursemsg") %>
        <%- include("usermsg") %>
        <div class="row">
            <div class="col-4 border border-dark border-bottom-0">
                <h2>Enrolled Courses</h2>
                <div class="list-group">
                <% if (isEnrolled) { %>
                    <% for (enroll of isEnrolled) { %>
                        <a href=<%="/studentHome/"+enroll.CourseCourseid %> class="list-group-item list-group-item-action"><%= enroll.CourseCourseid%></a>
                   <% } %>
                <% } %>
                    </div>
            </div>
            <div class="col-8 border border-dark border-bottom-0">
                <h3>All of <%= req.session.user.username %>'s Tasks</h3>
                <div class="d-flex flex-row flex-wrap">
                    <% if(tasks) { %>
                        <% for(task of tasks) { %>
                            <div class="card" style="width: 18rem;">
                                <div class="card-body">
                                <h5 class="card-title"><%= task.dataValues.taskName %></h5>
                                <h6 class="card-subtitle mb-2 text-muted"><%= task.dataValues.taskType %></h6>
                                <h6 class="card-subtitle mb-2 text-muted">Due: <%= task.dataValues.dueDate %></h6>
                                <h6 class="card-subtitle mb-2 text-muted">Class: <%= task.dataValues.taskClass %></h6>
                                <h6 class="card-subtitle mb-2 text-muted">Priority: <%= task.dataValues.taskPriority %></h6>
                                <p class="card-text"><%= task.dataValues.taskDescription %></p>
                                <a href="<%= "/editTask/"+task.dataValues.taskID%>" class="card-link">Edit</a>
                                </div>
                            </div>
                        <% } %>
                    <% } %>
                </div>
            </div>

            <% for([course, ctasks] of Object.entries(courseAndTasks)) { %>
                <div class="col-4 border border-dark border-top-0 border-bottom-0 border-left-0"></div>
                <div class="col-8 border border-dark border-bottom-0">
                    <h3><%= course %> Course Tasks</h3>
                    <div class="d-flex flex-row flex-wrap">
                        <% if(ctasks) { %>
                            <% for(task of ctasks) { %>
                                <div class="card" style="width: 18rem;">
                                    <div class="card-body">
                                    <h5 class="card-title"><%= task.dataValues.ctaskName %></h5>
                                    <h6 class="card-subtitle mb-2 text-muted"><%= task.dataValues.ctaskType %></h6>
                                    <h6 class="card-subtitle mb-2 text-muted">Due: <%= task.dataValues.cdueDate %></h6>
                                    <h6 class="card-subtitle mb-2 text-muted">Class: <%= task.dataValues.CourseCourseid %></h6>
                                    <h6 class="card-subtitle mb-2 text-muted">Priority: <%= task.dataValues.ctaskPriority %></h6>
                                    <p class="card-text"><%= task.dataValues.ctaskDescription %></p>
                                    </div>
                                </div>
                            <% } %>
                        <% } %>
                    </div>
                </div>
            <% } %>
        </div>
      </div>
</body>
</html>